<div class="bg-white" style="padding: 3rem 1.5rem 1.5rem 1.5rem; border-radius: 4px">
  <img src="images/car.png" alt="Car" />
  <p class="mb-2">Nama / Tipe Mobil</p>
  <p><b>Rp. 430.000 / Hari</b></p>
  <p><img src="images/icons/fi_key.svg" alt="key" /> Start rent - Finish rent</p>
  <p><img src="images/icons/fi_clock.svg" alt="clock" /> Updated at 4 Apr 2022 09.00</p>
  <div class="d-flex">
    <a href="#modalDelete" class="trigger btn btn-outline-danger me-3 flex-fill" role="button" data-toggle="modal" aria-disabled="true"><img src="images/icons/fi_trash.svg" alt="Plus" /> Delete</a>
    <button type="submit" class="btn flex-fill" style="background-color: LimeGreen"><img src="images/icons/fi_edit.svg" alt="Plus" /> Edit</button>
  </div>
</div>
