<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="images/modal.png" alt="" />
        <h1>Menghapus Data Mobil</h1>
        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary">Ya</button>
        <button type="button" class="btn border-primary" data-bs-dismiss="modal">Tidak</button>
      </div>
    </div>
  </div>
</div>
