<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid justify-content-start" style="margin-right: 1rem">
    <a class="navbar-brand" href="#" style="margin-right: 7rem"><img src="images/logo2.png" alt="" /></a>
    <label class="me-auto" for="leftMenu"><img src="images/icons/fi_menu.svg" alt="leftMenu_toggle" /></label>
    <input style="display: none" checked="checked" type="checkbox" name="leftMenu" id="leftMenu" />

    <div class="input-group w-25">
      <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <button class="btn btn-outline-darkblue" type="button">Search</button>
      </div>
    </div>

    <ul class="navbar-nav mb-2 mb-lg-0 ms-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="images/profile.png" class="w-25 me-1" />
          Unis Bandri
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="/">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
