<div id="sidebar">
  <div class="position-fixed d-flex flex-column flex-shrink-0" style="width: 5rem; height: 100%; background-color: #0d28a6">
    <a href="#" class="d-block p-3 mx-auto">
      <img src="images/logo1.png" alt="" />
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link px-0 py-2 text-white">
          <img class="d-block mx-auto" src="images/icons/home.svg" alt="" />
          <span
            ><small><b>Dashboard</b></small></span
          >
        </a>
      </li>
      <li class="nav-item">
        <a href="/carDashboard" class="nav-link px-0 py-2 text-white">
          <img class="d-block mx-auto" src="images/icons/fi_truck.svg" alt="" />
          <span
            ><small><b>Cars</b></small></span
          >
        </a>
      </li>
    </ul>
  </div>
  <div class="bg-primary" style="width: 5rem"></div>
</div>
