<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="d-flex">
    <%- include("partials/sidebar"); %>
    <div class="flex-grow-1">
      <%- include("partials/navbar"); %>
      <div class="d-flex bg-grey flex-grow-1" style="min-height: 100vh">
        <%- include("partials/left_menu/cars"); %>
        <main class="p-4 w-100" style="background-color: #f4f5f7">
          <nav
            class="mb-4"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg + xml, %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;)"
            aria-label="breadcrumb"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#" class="text-decoration-none text-dark"><b>Cars</b></a>
              </li>
              <li class="breadcrumb-item" aria-current="page"><i class="bi bi-chevron-compact-right"></i>List car</li>
            </ol>
          </nav>
          <div class="d-flex justify-content-between">
            <h5 class="mb-4"><b>List Car</b></h5>
            <a href="addCar"
              ><button type="submit" class="btn text-light" style="background-color: #0d28a6"><img src="images/icons/fi_plus.svg" alt="Plus" /> Add New Car</button></a
            >
          </div>
          <div class="d-flex gap-3 mb-4">
            <button type="submit" class="btn btn-outline-primary text-primary" style="background-color: #cfd4ed">All</button>
            <button type="submit" class="btn btn-outline-info text-info">Small</button>
            <button type="submit" class="btn btn-outline-info text-info">Medium</button>
            <button type="submit" class="btn btn-outline-info text-info">Large</button>
          </div>

          <section class="d-flex flex-wrap justify-content-evenly gap-4"><% for(let i = 0; i < 9; i++){ %> <%- include("partials/car_card"); %> <% } %></section>
        </main>
      </div>
    </div>
  </body>
</html>
