<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="d-flex">
    <%- include("partials/sidebar"); %>
    <div class="flex-grow-1">
      <%- include("partials/navbar"); %>
      <div class="d-flex bg-grey flex-grow-1" style="min-height: 100vh">
        <%- include("partials/left_menu/dashboard"); %>
        <main class="p-4 w-100" style="background-color: #f4f5f7">
          <nav
            class="mb-4"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg + xml, %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;)"
            aria-label="breadcrumb"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#" class="text-decoration-none text-dark"><b>Dashboard</b></a>
              </li>
              <li class="breadcrumb-item" aria-current="page"><i class="bi bi-chevron-compact-right"></i> Dashboard</li>
            </ol>
          </nav>
          <h5 class="mb-4"><b>Dashboard</b></h5>
          <%- include("partials/order_table"); %> <%- include("partials/car_table"); %>
        </main>
      </div>
    </div>
  </body>
</html>
