<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="d-flex flex-column flex-lg-row">
    <div class="bg-darkblue" style="background-image: url('/images/car_login.png'); background-repeat: no-repeat; background-size: cover; height: 100vh; width: 220%"></div>
    <%- include('partials/login_form'); %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
