<div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 13rem" id="carLeftMenu">
  <h6 class="px-3 py-4 mb-0"><b>CARS</b></h6>
  <hr class="m-0" />
  <a href="#" class="px-3 py-2 text-decoration-none text-dark" style="background-color: #cfd4ed"><b>List Car</b></a>
</div>
