<div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 13rem">
  <h6 class="px-3 py-4 mb-0" ><b>DASHBOARD</b></h6>
  <hr class="m-0" />
  <a href="#" class="px-3 py-2 text-decoration-none text-dark" style="background-color: #cfd4ed"><b>Dashboard</b></a>
</div>
